---
- name: Install PostgreSQL {{pg_version}}
  package:
    name:
      - acl
      - python3-pycurl
      - python3-psycopg2
      - postgresql-{{pg_version}}
    state: present
    update_cache: yes
  become: true

- name: Enable PostgreSQL {{pg_version}}
  service:
    name: postgresql@{{ pg_version }}-main
    state: started
    enabled: yes

- name: "Create a new database"
  postgresql_db:
    name: magazine
    state: present
  become: yes
  become_user: postgres

- name: "Create a new user"
  postgresql_user:
    state: present
    name: harry
    password: potter
  become: yes
  become_user: postgres

- name: "Grant user access"
  postgresql_privs:
    type: database
    database: magazine
    roles: harry
    grant_option: no
    privs: all
  become: yes
  become_user: postgres

- name: "Allow md5 connection"
  postgresql_pg_hba:
    dest: "{{pg_conf_path}}"
    contype: host
    databases: all
    method: md5
    users: harry
    create: true
  become: yes
  become_user: postgres
  notify: restart postgres
