---
- name: Install postgres packages
  become: yes
  apt:
    name:
      - postgresql 
      - postgresql-contrib
      - python3-pip
      - acl

- name: Instal python packages
  pip:
    name: psycopg2-binary

# - name: "Initialize PostgreSQL"
#   command: postgresql-setup initdb

- name: Enable PostgreSQL
  service:
    name: postgresql
    state: started
    enabled: yes

- name: "Create a new database"
  postgresql_db:
    name: harry
    state: present
  become: yes
  become_user: postgres

- name: "Create a new user"
  postgresql_user:
    state: present
    name: harry
    password: potter
  become: yes
  become_user: postgres

- name: "Grant user access"
  postgresql_privs:
    type: database
    database: magazine
    roles: harry
    grant_option: no
    privs: all
  become: yes
  become_user: postgres

- name: "Allow md5 connection"
  postgresql_pg_hba:
    dest: "~/data/pg_hba.conf"
    contype: host
    databases: all
    method: md5
    users: harry
    create: true
  become: yes
  become_user: postgres
  notify: restart postgres

- name: Restart PostgreSQL
  service:
    name: postgresql
    state: restarted
